{% extends 'temps/base.html'%}
{% load static %}
{% block content %}
{{ block.super }}


<div class="jumbotron">
    <h1 class="display-3">Welcome to my neighbourhood application</h1>
    <p class="lead">Due to the rise of insecurity in Kenya, an amicable solution was needed to curb the problem..</p>
    <hr class="my-4">
    <p>My app uses this initiative to enhance security by digitizing the ‘Neighbourhood’ initiative and providing enhanced methods of communication between a person’s neighbours and the leader of the initiative which is either the chief or an elder in the location covered</p>
</div>
{% endblock %}